
/* Main window background and default text color */
QMainWindow {
    background-color: #FFFFFF;
    color: #000000;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Helvetica', 'Arial', sans-serif;
    font-size: 14px;
}
QWidget#right_widget {
    background-color: #F5F5F5;
    color: #000000;
    border: none;
}

/* Left sidebar and its widgets */
QWidget#left-widget {
    background-color: #F5F5F5;
    color: #000000;
}

QLineEdit, QTextEdit, QListWidget {
    background-color: #FFFFFF;
    border: 1px solid #CCCCCC;
    border-radius: 5px;
    padding: 8px;
}

/* Buttons */
QPushButton {
    background-color: #EEEEEE;
    border: 1px solid #CCCCCC;
    border-radius: 5px;
    padding: 10px;
    margin: 2px;
    min-width: 80px;
}

QPushButton:hover {
    background-color: #DDDDDD;
}

QPushButton#upgrade-btn {
    background-color: #ffa500;
    color: black;
    font-weight: bold;
}

QPushButton#theme-button {
    background-color: #292929;
    color: #FFFFFF;
}

/* Combobox */
QComboBox {
    background-color: #EEEEEE;
    border: 1px solid #CCCCCC;
    border-radius: 8px;
    padding: 8px 20px 8px 10px; /* Adjust padding as needed */
}

QComboBox::drop-down {
    subcontrol-origin: padding;
    subcontrol-position: top right;
    width: 10px; /* Adjust width of dropdown arrow */
    border: none; /* Remove default dropdown arrow border */
}

QComboBox::down-arrow {
    image: url(down_arrow_light.png); /* Path to your light theme arrow */
    padding-right: 5px; /* Add some space between text and arrow */
}

QComboBox QAbstractListView {
    background-color: #F5F5F5;
    border: 1px solid #CCCCCC;
    border-radius: 5px;
    padding: 5px;
    min-width: 50px; /* Adjust minimum width of the dropdown list */
}

QComboBox QAbstractListView::item:selected {
    background-color: #DDDDDD;
}